# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.UIMainMenu.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\unity\UIMainMenu\.idea\.idea.UIMainMenu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
